<?xml version="1.0"?>
<config>
    <modules>
        <SwiftOtter_Sales>
            <version>0.0.1</version>
        </SwiftOtter_Sales>
    </modules>
    <global>
        <models>
            <SwiftOtter_Sales>
                <class>SwiftOtter_Sales_Model</class>
                <resourceModel>SwiftOtter_Sales_Resource</resourceModel>
            </SwiftOtter_Sales>

            <SwiftOtter_Sales_Resource>
                <class>SwiftOtter_Sales_Model_Resource</class>
                <entities>
                    <Order_Product>
                        <table>swiftotter_sales_order_product</table>
                    </Order_Product>
                </entities>
            </SwiftOtter_Sales_Resource>
        </models>

        <blocks>
            <SwiftOtter_Sales>
                <class>SwiftOtter_Sales_Block</class>
            </SwiftOtter_Sales>
        </blocks>
        <helpers>
            <SwiftOtter_Sales>
                <class>SwiftOtter_Sales_Helper</class>
            </SwiftOtter_Sales>
        </helpers>
        <resources>
            <SwiftOtter_Sales>
                <setup>
                    <module>SwiftOtter_Sales</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </SwiftOtter_Sales>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <SwiftOtter_Sales>
                        <class>SwiftOtter_Sales_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </SwiftOtter_Sales>
                </observers>
            </sales_order_place_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <SwiftOtter_Sales>
                        <class>SwiftOtter_Sales_Model_Observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </SwiftOtter_Sales>
                </observers>
            </sales_order_creditmemo_refund>

            <order_cancel_after>
                <observers>
                    <SwiftOtter_Sales>
                        <class>SwiftOtter_Sales_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </SwiftOtter_Sales>
                </observers>
            </order_cancel_after>
        </events>
    </global>



    <!--<crontab>-->
        <!--<jobs>-->
            <!--<SwiftOtter_Sales>-->
                <!--<schedule>-->
                    <!--<cron_expr>*/5 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>SwiftOtter_Sales/Cron::inventoryUpdate</model>-->
                <!--</run>-->
            <!--</SwiftOtter_Sales>-->
        <!--</jobs>-->
    <!--</crontab>-->


</config>